tqdm==4.67.0
ollama==0.3.3
openai==1.54.3
scikit-learn==1.6.0
python-dotenv==1.0.1
pandas==2.2.3
torch==2.10.0
torchvision==0.25.0
transformers==5.0.0
matplotlib==3.10.8
seaborn==0.13.2
tiktoken==0.12.0